:host ::ng-deep {

  .mat-mdc-radio-button {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    .mdc-label {
      width: 100%;
    }

    .other {
      .mdc-form-field {
        align-items: start;
      }
    }
      
    .notes {
      &.show {
        margin-top: 15px;
      }

      &:not(.show) {
        display: none;
      }
    }
  }

  fs-label-field {
    position: relative;
  }

  [validation-required='true'] .fs-form-label:after {
    content: ' *';
    display: contents;
  }

  .other {
    max-width: 100%;
    margin-right: 8px;

    ::ng-deep {
      .mdc-label {
        padding-top: 0 !important;
      }
    }
  }

  mat-form-field {
    width: 400px;
    max-width: 100%;
    display: block;
  }
}

.checkbox-hint {
  white-space: normal;
  line-height: initial;
  color: gray;
}
