<fs-radio-group
    #radiobuttons
    [(ngModel)]="field.data.value.selected"
    (ngModelChange)="radiosChange($event)"
    [label]="field.label"
    [name]="'choices' + name"
    [fsFormFunction]="validate"
    [attr.validation-required]="this.field.configs.required"
    [disabled]="disabled"
    messageSelector=".fs-form-message"
    orientation="vertical">
  <ng-container *ngFor="let option of field.options; let index = index">
    <mat-radio-button       
        [disabled]="disabled"
        [value]="option.guid"
        (change)="radioChange(notes)">
      <div class="fs-column">
        <div>{{option.name}}</div>
        <div *ngIf="option.notesLabel" class="checkbox-hint"><small>{{ option.notesLabel }}</small></div>
      </div>
      <mat-form-field 
          [ngClass]="{ show: option.notes && field.data.value.selected === option.guid }"
          [floatLabel]="'never'" 
          class="form-field-padless notes">
        <input
          #notes
          [placeholder]="option.notesLabel || 'Notes'"
          matInput
          [(ngModel)]="field.data.value.notes[option.guid]"
          [name]="'notes-' + field.guid + option.guid">
      </mat-form-field>
    </mat-radio-button>
  </ng-container>
  <mat-radio-button
      *ngIf="field.configs.other"
      value="other"
      [name]="'choiceOther' + name"
      [disabled]="disabled"
      class="other choice">
    <mat-form-field floatLabel="never" class="form-field-padless">
      <input
        matInput
        placeholder="Other"
        (click)="otherInputClick()"
        (ngModelChange)="otherInputChange($event)"
        [(ngModel)]="otherValue"
        [name]="'otherInput' + name"
        [disabled]="disabled">
    </mat-form-field>
  </mat-radio-button>
  <mat-hint>{{field.description}}</mat-hint>
</fs-radio-group>