<fs-file
    (select)="selectFile($event)"
    [imageQuality]="field.config.configs.imageQuality"
    [imageWidth]="field.config.configs.maxWidth"
    [imageHeight]="field.config.configs.maxHeight"
    [accept]="accept"
    [disabled]="disabled"
    [multiple]="field.config.configs.allowMultiple">
  <button
      [disabled]="disabled"
      mat-raised-button
      type="button"
      color="default">
    <mat-icon>file_upload</mat-icon>
    Select File
  </button>
</fs-file>

<div class="files-preview" [hidden]="!field.data?.value?.length">
  <fs-field-view-gallery
    [actions]="actions"
    [field]="field">
  </fs-field-view-gallery>
</div>

