<fs-file
    (select)="selectFile($event)"
    [imageQuality]="field.configs.imageQuality"
    [imageWidth]="field.configs.maxWidth"
    [imageHeight]="field.configs.maxHeight"
    [accept]="accept"
    [disabled]="disabled"
    [multiple]="field.configs.allowMultiple">
  <button
      [disabled]="disabled"
      mat-raised-button
      type="button"
      color="default">
    <mat-icon>file_upload</mat-icon>
    Select File
  </button>
</fs-file>

<ng-container *ngIf="actions">
  <div class="files-preview" [hidden]="!field.data?.value?.length">
    <fs-field-view-gallery
      [actions]="actions"
      [field]="field">
    </fs-field-view-gallery>
  </div>
</ng-container>