<div class="options">
  <div class="fs-row.gap-small">
    <mat-checkbox color="primary" [(ngModel)]="field.configs.firstName.display" (ngModelChange)="fieldSave()"></mat-checkbox>

    <mat-form-field floatLabel="never" fxFlex>
      <mat-label>Label</mat-label>
      <input
        matInput
        [(ngModel)]="field.configs.firstName.label"
        [disabled]="!field.configs.firstName.display"
        name="firstName"
        [ngModelOptions]="{ updateOn: 'blur' }"
        (ngModelChange)="fieldSave()">
      <div matPrefix>{{field.label}}&nbsp;</div>
    </mat-form-field>
  </div>

  <div class="fs-row.gap-small">
    <mat-checkbox color="primary" [(ngModel)]="field.configs.lastName.display" (ngModelChange)="fieldSave()"></mat-checkbox>

    <mat-form-field floatLabel="never" fxFlex>
      <mat-label>Label</mat-label>
      <input
        matInput
        [(ngModel)]="field.configs.lastName.label"
        [disabled]="!field.configs.lastName.display"
        name="lastName"
        [ngModelOptions]="{ updateOn: 'blur' }"
        (ngModelChange)="fieldSave()">
      <div matPrefix>{{field.label}}&nbsp;</div>
    </mat-form-field>
  </div>
</div>
