<form fsForm [submit]="save">
  <fs-dialog>
    <h1 mat-dialog-title>Term</h1>
    <mat-dialog-content>
      <div fxLayout="column">
        <mat-form-field>
          <input
            matInput
            placeholder="Label"
            [(ngModel)]="term.label"
            [disabled]="disabled"
            name="terms-label">
        </mat-form-field>
      
        <mat-form-field>
          <mat-select
              [(ngModel)]="term.type"
              [disabled]="disabled"
              name="terms-content-source"
              placeholder="Copy Type">
            <mat-option [value]="TermType.None">None</mat-option>
            <mat-option [value]="TermType.Url">URL</mat-option>
            <mat-option [value]="TermType.Dialog">Dialog</mat-option>
          </mat-select>
        </mat-form-field>
      
        <ng-container *ngIf="term.type===TermType.Url || term.type===TermType.Dialog">
          <mat-form-field>
            <input
              matInput
              placeholder="Copy Label"
              [(ngModel)]="term.contentLabel"
              [disabled]="disabled"
              (blur)="contentLabelBlur()"
              [required]="true"
              name="terms-content-label">
          </mat-form-field>    
      
          <mat-form-field
              *ngIf="term.type===TermType.Url">
            <input
              matInput
              #url
              placeholder="Copy URL"
              [(ngModel)]="term.contentUrl"
              [disabled]="disabled"
              [required]="true"
              name="terms-content-url"
              [fsFormUrl]="true"
              [fsFormUrlProtocol]="true">
          </mat-form-field>
          
          <ng-container *ngIf="term.type===TermType.Dialog">
            <mat-form-field>
              <input
                matInput
                placeholder="Copy Dialog Title"
                [(ngModel)]="term.contentTitle"
                name="dialogTitle">
            </mat-form-field>

            <fs-html-editor
              [config]="{ label: 'Copy' }"
              name="terms-content"
              [(ngModel)]="term.content"
              [required]="true">
            </fs-html-editor>
          </ng-container>
      
        </ng-container>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button
          type="submit"
          mat-button
          color="primary">
        Save
      </button>  
      <button
          type="button"
          mat-button
          [mat-dialog-close]="null">
        Cancel
      </button>
    </mat-dialog-actions>
  </fs-dialog>
</form>



