<fs-label-field class="fs-form-wrapper">
  @if (field.label) {
    <fs-label
      class="fs-form-label"
      >
      {{field.label}}
    </fs-label>
  }
  <fs-field-render-visual-selector-model
    [required]="field.configs.required"
    (changed)="changed.emit(field)"
    name="{{name}}VisualSelector"
    [field]="field"
    [(ngModel)]="field">
  </fs-field-render-visual-selector-model>
  <fs-label-message class="fs-form-message">
    <div class="fs-form-hint">{{ field.description }}</div>
  </fs-label-message>
</fs-label-field>

