<div class="row">
  <ng-container *ngIf="field.configs.firstName?.display">
    <mat-form-field>
      <mat-label>{{field.label + ' ' + field.configs.firstName.label}}</mat-label>
      <input
        matInput
        [name]="name + 'firstName'"
        [disabled]="disabled"
        (ngModelChange)="change($event,'firstName')"
        [(ngModel)]="field.data.value.firstName">
      <mat-hint *ngIf="field.description">{{field.description}}</mat-hint>
    </mat-form-field>
  </ng-container>
  <ng-container *ngIf="field.configs.lastName?.display">
    <mat-form-field>
      <mat-label>{{field.label + ' ' + field.configs.lastName.label}}</mat-label>
      <input
        matInput
        [name]="name + 'lastName'"
        [disabled]="disabled"
        (ngModelChange)="change($event,'lastName')"
        [(ngModel)]="field.data.value.lastName">
      <ng-container *ngIf="!field.configs.firstName?.display && field.description">
        <mat-hint>{{field.description}}</mat-hint>
      </ng-container>
    </mat-form-field>
  </ng-container>
</div>
