<div class="row">
  @if (field.configs.firstName?.display) {
    <mat-form-field>
      <mat-label>{{field.label + ' ' + field.configs.firstName.label}}</mat-label>
      <input
        matInput
        [name]="name + 'firstName'"
        [disabled]="disabled"
        (ngModelChange)="change($event,'firstName')"
        [(ngModel)]="field.data.value.firstName">
      @if (field.description) {
        <mat-hint>{{field.description}}</mat-hint>
      }
    </mat-form-field>
  }
  @if (field.configs.lastName?.display) {
    <mat-form-field>
      <mat-label>{{field.label + ' ' + field.configs.lastName.label}}</mat-label>
      <input
        matInput
        [name]="name + 'lastName'"
        [disabled]="disabled"
        (ngModelChange)="change($event,'lastName')"
        [(ngModel)]="field.data.value.lastName">
      @if (!field.configs.firstName?.display && field.description) {
        <mat-hint>{{field.description}}</mat-hint>
      }
    </mat-form-field>
  }
</div>
