<div
    class="field-container"
    [ngClass]="['field-' + field.type]"
    cdkDrag
    cdkDragLockAxis="y"
    [cdkDragDisabled]="!canReorder"
    (cdkDragStarted)="dragStarted()">
  @if (canReorder) {
    <div
        class="field-drag"
        cdkDragHandle>
      <button
          mat-icon-button
          type="button"
          class="field-drag-button">
        <mat-icon>
          drag_indicator
        </mat-icon>
      </button>
    </div>
  }
  <div class="field-content">
    @if (fieldContainerTemplateRef) {
      <ng-container
        [ngTemplateOutlet]="fieldContainerTemplateRef"
        [ngTemplateOutletContext]="{ 
        template: containerTemplate, 
        selected: isFieldSelected, 
        field: field,
        fieldEditor: fieldEditor
      }">
      </ng-container>
    } @else {
      <ng-container *ngTemplateOutlet="containerTemplate"></ng-container>
    }
  </div>
</div>
<ng-template #containerTemplate>
  @if (isFieldSelected) {
    @if (fieldConfigTemplate) {
      <ng-template
        [ngTemplateOutlet]="fieldConfigTemplate"
        [ngTemplateOutletContext]="{ field: field, fieldEditor: fieldEditor, configTemplate: configTemplate, headerTemplate: headerTemplate }">
      </ng-template>
    } @else {
      <ng-container [ngTemplateOutlet]="headerTemplate"></ng-container>
      <ng-container [ngTemplateOutlet]="configTemplate"></ng-container>
    }
    <ng-template #headerTemplate>
      <div
          class="field-header"
          [ngClass]="{ 'disabled': !canEdit }">
        <fs-field-header
          [field]="field"
          [hasDescription]="hasDescription"
          (toggleDescription)="toggleDescriptionNote($event)"
          (fieldChanged)="headerFieldChanged($event)">
        </fs-field-header>
      </div>
    </ng-template>
    <ng-template #configTemplate>
      <div
          class="field-config"
          [ngClass]="{ 'disabled': !canEdit || !canConfig }">
        @switch (field.type) {
          @case (FieldType.Choice) {
            <fs-field-config-options
              [field]="field"
              [showOther]="true"
              [showNotes]="true"
              [showOptionLabel]="true">
            </fs-field-config-options>
          }
          @case (FieldType.Dropdown) {
            <fs-field-config-options
              [field]="field"
              [showOther]="false"
              [showOptionLabel]="true">
            </fs-field-config-options>
          }
          @case (FieldType.Checkbox) {
            <fs-field-config-options
              [field]="field"
              [showOther]="true"
              [showNotes]="true"
              [showOptionLabel]="true">
            </fs-field-config-options>
          }
          @case (FieldType.Name) {
            <fs-field-config-name [field]="field"></fs-field-config-name>
          }
          @case (FieldType.File) {
            <fs-field-config-file [field]="field"></fs-field-config-file>
          }
          @case (FieldType.Gender) {
            <fs-field-config-gender [field]="field"></fs-field-config-gender>
          }
          @case (FieldType.Heading) {
            <fs-field-config-heading [field]="field"></fs-field-config-heading>
          }
          @case (FieldType.Content) {
            <fs-field-config-content [field]="field"></fs-field-config-content>
          }
          @case (FieldType.RichText) {
            <fs-field-config-rich-text [field]="field"></fs-field-config-rich-text>
          }
          @case (FieldType.Address) {
            <fs-field-config-address [field]="field"></fs-field-config-address>
          }
          @case (FieldType.VisualSelector) {
            <fs-field-config-visual-selector [field]="field"></fs-field-config-visual-selector>
          }
        }
      </div>
    </ng-template>
  } @else {
    <div class="field-render">
      @if (fieldRenderTemplate) {
        <ng-container
          [ngTemplateOutlet]="fieldRenderTemplate"
          [ngTemplateOutletContext]="{ field: field, fieldEditor: fieldEditor, selected: isFieldSelected, template: fieldRenderTemplate }">
        </ng-container>
      } @else {
        <ng-container [ngTemplateOutlet]="renderTemplate"></ng-container>
      }
      <ng-template #renderTemplate>
        @switch (field.type) {
          @case (FieldType.ShortText) {
            <fs-field-render-text [field]="field"></fs-field-render-text>
          }
          @case (FieldType.LongText) {
            <fs-field-render-text [field]="field"></fs-field-render-text>
          }
          @case (FieldType.Phone) {
            <fs-field-render-text [field]="field"></fs-field-render-text>
          }
          @case (FieldType.Email) {
            <fs-field-render-text [field]="field"></fs-field-render-text>
          }
          @case (FieldType.Date) {
            <fs-field-render-text [field]="field"></fs-field-render-text>
          }
          @case (FieldType.Birthday) {
            <fs-field-render-text [field]="field"></fs-field-render-text>
          }
          @case (FieldType.Time) {
            <fs-field-render-text [field]="field"></fs-field-render-text>
          }
          @case (FieldType.Choice) {
            <fs-field-render-choice [field]="field"></fs-field-render-choice>
          }
          @case (FieldType.Dropdown) {
            <fs-field-render-dropdown [field]="field"></fs-field-render-dropdown>
          }
          @case (FieldType.Checkbox) {
            <fs-field-render-checkbox [field]="field"></fs-field-render-checkbox>
          }
          @case (FieldType.Name) {
            <fs-field-render-name [field]="field"></fs-field-render-name>
          }
          @case (FieldType.File) {
            <fs-field-render-file [field]="field"></fs-field-render-file>
          }
          @case (FieldType.Gender) {
            <fs-field-render-gender [field]="field"></fs-field-render-gender>
          }
          @case (FieldType.Heading) {
            <fs-field-view-heading [field]="field"></fs-field-view-heading>
          }
          @case (FieldType.VisualSelector) {
            <fs-field-render-visual-selector [field]="field"></fs-field-render-visual-selector>
          }
          @case (FieldType.Content) {
            <fs-html-editor
              [config]="htmlEditorConfig"
              [ngModel]="field.configs.content">
            </fs-html-editor>
          }
          @case (FieldType.RichText) {
            <fs-html-editor
              [config]="htmlEditorConfig"
              [ngModel]="field.configs.default">
            </fs-html-editor>
          }
          @case (FieldType.Address) {
            <fs-field-render-address [field]="field"></fs-field-render-address>
          }
          @default {
            <fs-field-render-text [field]="field"></fs-field-render-text>
          }
        }
      </ng-template>
    </div>
  }
</ng-template>