.field-editor-container {

  .fields-container {
    width: 100%;
    margin: 0 5px;

    .fields {
      min-height: 60px;
    }
  }

  &:not(.has-fields) .fields-container {
    border: 2px dashed #efefef;
    border-radius: 6px;
  }

  .toolbar-container {
    .toolbar {
      width: 40px;
      margin: 10px;
      z-index: 1000;
      position: absolute;
      right: 24px;

      .toolbar-wrapper {
        position: absolute;
        right: 0;
      }

      fs-field-toolbar {
        left: auto !important;
      }
    }
  }
}

:host ::ng-deep {
  .cdk-drag-placeholder {
    background: #eee;
    box-sizing: content-box;
    border-radius: 5px;

    * {
      visibility: hidden;
    }
  }
}

.fields {
  max-width: 100%;
  flex-grow: 1;

  &:not(.cdk-drop-list-dragging) {
    ::ng-deep {
      .fs-field:not(.selected):hover {
        background-color: #f9f9f9;
      }

      .fs-field:hover {
        .field-drag-button {
          visibility: visible;
        }
      }
    }
  }
}

