
@switch (field.type) {
  @case (fieldType.Choice) {
    <ng-template [ngTemplateOutlet]="checkboxResults"
      [ngTemplateOutletContext]="{$implicit: field}">
    </ng-template>
  }
  @case (fieldType.Gender) {
    <ng-template [ngTemplateOutlet]="checkboxResults"
      [ngTemplateOutletContext]="{$implicit: field}">
    </ng-template>
  }
  @case (fieldType.Dropdown) {
    @if (field.data.value === OtherOption) {
      <span>
        {{field.data.other}}
      </span>
    } @else {
      @for (option of field.options || []; track option) {
        @if (field.data.value===option.guid) {
          <span>{{option.name}}</span>
        }
      }
    }
  }
  @case (fieldType.Checkbox) {
    @for (option of field.options || []; track option) {
      @if ((field.data.value?.selected || []).indexOf(option.guid)!==-1) {
        <span class="option">
          {{option.name}}
          @if (option.notes && field.data.value.notes[option.guid]) {
            ({{field.data.value.notes[option.guid]}})
          }
        </span>
      }
    }
    @if (field.data.value?.other) {
      <span class="option">{{field.data.value?.other}}</span>
    }
  }
  @case (fieldType.VisualSelector) {
    <fs-field-view-visual-selector
      [field]="field">
    </fs-field-view-visual-selector>
    <!-- <ng-container *ngFor="let option of field.options || []">
    <span class="option" *ngIf="(field.data.value?.selected || []).indexOf(option.guid)!==-1">{{option.name}}</span>
  </ng-container>
  <span class="option" *ngIf="(field.data.value?.selected || []).indexOf('other')!==-1">{{field.data.value?.other}}</span> -->
}
}

<ng-template let-field #checkboxResults>
  @for (option of field.options || []; track option) {
    @if (field.data.value?.selected===option.guid) {
      <span>
        {{option.name}}
        @if (option.notes) {
          ({{field.data.value.notes[option.guid]}})
        }
      </span>
    }
  }
  @if (field.data.value?.selected==='other') {
    <span>{{field.data.value?.other}}</span>
  }
</ng-template>
