<div class="options">
  <div class="row-allow">
    <mat-form-field [floatLabel]="'always'">
      <mat-label>Allow file types</mat-label>
      <mat-select
          [(ngModel)]="allowFileTypes"
          name="allowFileTypes"
          [multiple]="true"
          [placeholder]="'Any'"
          (ngModelChange)="allowFileTypeChange($event)">
        <mat-option [value]="null">Any</mat-option>
        <mat-option [value]="'image'">Image</mat-option>
        <mat-option [value]="'video'">Video</mat-option>
        <mat-option [value]="'pdf'">PDF</mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container *ngIf="allowFileImage">
      <mat-form-field>
        <mat-label>Image Max Width</mat-label>
        <input
          matInput
          [(ngModel)]="field.configs.maxWidth"
          name="maxWidth"
          [ngModelOptions]="{ updateOn: 'blur' }"
          (ngModelChange)="fieldSave()">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Image Max Height</mat-label>
        <input
          matInput
          [(ngModel)]="field.configs.maxHeight"
          name="maxHeight"
          [ngModelOptions]="{ updateOn: 'blur' }"
          (ngModelChange)="fieldSave()">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Image Quality</mat-label>
        <input
          matInput
          [(ngModel)]="imageQuality"
          name="imageQuality"
          [ngModelOptions]="{ updateOn: 'blur' }"
          (ngModelChange)="imageQualityChange($event)">
          <span matSuffix>
            %
          </span>
      </mat-form-field>
    </ng-container>
    
    <fs-label-field>
      <fs-label>Allow Multiple</fs-label>
      <mat-checkbox color="primary" [(ngModel)]="field.configs.allowMultiple" (ngModelChange)="fieldSave()"></mat-checkbox>
    </fs-label-field>
    
    <fs-label-field>
      <fs-label>Show Filename</fs-label>
      <mat-checkbox color="primary" [(ngModel)]="field.configs.showFilename" (ngModelChange)="fieldSave()"></mat-checkbox>
    </fs-label-field>
  </div>
</div>