
mat-form-field {
  width: 160px;
}

.any {
  ::ng-deep {
    mat-pseudo-checkbox {
      display: none;
    }
  }
}

fs-label-field {
  ::ng-deep {
    .field-message {
      display: none;
    }
  }
}

