@for (field of fields; track field) {
  @if (field.show | async) {
    <div class="field" [attr.data-field]="field.guid">
      @switch (field.type) {
        @case (FieldType.Heading) {
          <fs-field-view-heading
            [field]="field">
          </fs-field-view-heading>
        }
        @default {
          <fs-label-field>
            <fs-label>
              <div class="label-container" [ngClass]="{ tooltip: !!field.description }">
                {{field.label}}
                @if (field.description) {
                  <mat-icon [matTooltip]="field.description">info</mat-icon>
                }
              </div>
            </fs-label>
            <ng-container *ngTemplateOutlet="content"></ng-container>
          </fs-label-field>
        }
      }
    </div>
    <ng-template #content>
      @if (fieldViewTemplateRefs[field.type]) {
        <ng-template *ngTemplateOutlet="fieldViewTemplateRefs[field.type]; context: { field: field, fieldViewer: fieldViewer }"></ng-template>
      } @else {
        @if (field.hasValue) {
          <fs-field-view
            [field]="field">
          </fs-field-view>
        } @else {
          <span class="not-specified">Not Specified</span>
        }
      }
    </ng-template>
  }
}
