mat-dialog-content {
  width: 600px;
}

.populated-checkbox {
  display: flex;
  align-items: center;

  mat-icon {
    margin-left: 5px;
  }

  ::ng-deep .popover-container {
    display: flex;
  }
}

.preview-image-ratio {
  mat-form-field {
    width: 160px;
  }
}