<div class="options">
  <div class="row-allow">
    <fs-label-field>
      <fs-label>Allow Multiple</fs-label>
      <mat-checkbox color="primary" [(ngModel)]="field.configs.allowMultiple" (ngModelChange)="fieldSave()"></mat-checkbox>
    </fs-label-field>

    <fs-label-field>
      <fs-label>Only allow file types</fs-label>
      <div fxFlexLayout="column" fxLayoutGap="20px">
        <mat-checkbox
            color="primary"
            [(ngModel)]="field.configs.allowedFileTypes.image"
            (ngModelChange)="fieldSave()">
          Image
        </mat-checkbox>
        <mat-checkbox
            color="primary"
            [(ngModel)]="field.configs.allowedFileTypes.video"
            (ngModelChange)="fieldSave()">
            Video
        </mat-checkbox>
        <mat-checkbox
            color="primary"
            [(ngModel)]="field.configs.allowedFileTypes.pdf"
            (ngModelChange)="fieldSave()">
          PDF
        </mat-checkbox>
      </div>
    </fs-label-field>
  </div>

  <div
      *ngIf="field.configs.allowedFileTypes.image || field.configs.allowedFileTypes.other"
      fxFlexLayout="column"
      fxLayoutGap="20px">
    <mat-form-field>
      <mat-label>Image Max Width</mat-label>
      <input
        matInput
        [(ngModel)]="field.configs.maxWidth"
        name="maxWidth"
        [ngModelOptions]="{ updateOn: 'blur' }"
        (ngModelChange)="fieldSave()">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Image Max Height</mat-label>
      <input
        matInput
        [(ngModel)]="field.configs.maxHeight"
        name="maxHeight"
        [ngModelOptions]="{ updateOn: 'blur' }"
        (ngModelChange)="fieldSave()">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Image Quality</mat-label>
      <input
        matInput
        [(ngModel)]="imageQuality"
        name="imageQuality"
        [ngModelOptions]="{ updateOn: 'blur' }"
        (ngModelChange)="imageQualityChange($event)">
        <span matSuffix>
          %
        </span>
    </mat-form-field>
  </div>
</div>
