<div cdkDropList class="options" (cdkDropListDropped)="drop($event)">
  <div  
      *ngFor="let option of field.options; index as idx" 
      cdkDrag 
      cdkDragLockAxis="y" 
      class="fs-field-option">
    <div class="option-container" [ngClass]="{ 'has-notes': option.notes, 'visual-selector': field.type === FieldType.VisualSelector }">
      <div class="option-drag" cdkDragHandle>
        <button button mat-icon-button type="button" class="drag-button option-drag-button"><mat-icon>drag_indicator</mat-icon></button>
      </div>

      <ng-container [ngTemplateOutlet]="disabledPlaceholder"></ng-container>
      <div class="option-data-container">
        <div class="option-data">
          <ng-container *ngIf="showOptionImage">
            <fs-file-image-picker
              #fileImagePicker
              [url]="option.image?.preview"
              (select)="selectOptionImage($event, option, fileImagePicker)"
              [previewDiameter]="60">
            </fs-file-image-picker>
          </ng-container>
          <ng-container *ngIf="showOptionLabel">
            <div class="option-label">
              <mat-form-field class="form-field-padless" floatLabel="never">
                <input
                  matInput
                  [(ngModel)]="option.name"
                  [name]="'label' + idx"
                  [placeholder]="'Label'"
                  [ngModelOptions]="{ updateOn: 'blur' }"
                  (ngModelChange)="optionSave(option)">
              </mat-form-field>
            </div>
          </ng-container>

          <ng-container *ngIf="field.configs.showValues">
            <div class="option-value">
              <mat-form-field          
                  floatLabel="never"
                  class="form-field-padless">
                <input
                  matInput
                  [placeholder]="'Value'"
                  [(ngModel)]="option.value"
                  [name]="'option-value-' + idx"
                  [ngModelOptions]="{ updateOn: 'blur' }"
                  (ngModelChange)="optionSave(option)">
              </mat-form-field>
            </div>
          </ng-container>
        </div>
        <ng-container *ngIf="option.notes && showNotes">
          <div class="option-note">
            <mat-form-field          
              floatLabel="never"
              class="form-field-padless">
            <input
              matInput
              placeholder="Notes"
              [(ngModel)]="option.notesLabel"
              [name]="'notes-label' + idx"
              [ngModelOptions]="{ updateOn: 'blur' }"
              (ngModelChange)="optionSave(option)">
          </mat-form-field>
          </div>
        </ng-container>
      </div>
      <ng-container *ngIf="showNotes">
        <button
            mat-icon-button
            type="button"
            class="notes"
            [ngClass]="{ enabled: option.notes }"
            (click)="toggleOptionNotes(option)"
            [matTooltip]="option.notes ? 'Disable response notes' : 'Enable response notes'">
          <mat-icon>chat</mat-icon>
        </button>
      </ng-container>
      <button
          button
          mat-icon-button
          type="button"
          (click)="removeOption(option)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
<div
    class="option-container option-add-new"
    [class.loading]="optionLoading$ | async">
  <ng-container *ngIf="field.options.length">
    <button
        button
        mat-icon-button 
        type="button" 
        class="option-drag-placeholder">
      <mat-icon></mat-icon>
    </button>
    <ng-container [ngTemplateOutlet]="disabledPlaceholder"></ng-container>
  </ng-container>

  <div class="option-data">
    <ng-container *ngIf="showOptionImage">
      <fs-file-image-picker
        #fileImagePicker
        (select)="selectNewOptionImage($event, fileImagePicker)"
        [previewDiameter]="60">
      </fs-file-image-picker>
    </ng-container>

    <div class="option-label" [ngClass]="{ hide: !showOptionLabel}">
      <mat-form-field floatLabel="never" class="new-option form-field-padless">
        <input
          matInput
          #addOptionInput
          [(ngModel)]="newOption"
          placeholder="Add New Option"
          name="newOption"
          (keydown)="addOptionKeydown($event, !this.field.configs.showValues)">
      </mat-form-field>
    </div>
    
    <div *ngIf="field.configs.showValues" class="option-value">
      <mat-form-field floatLabel="never" class="form-field-padless">
        <input
          matInput
          placeholder="Value"
          [(ngModel)]="newOptionValue"
          name="newOptionValue"
          (keydown)="addOptionKeydown($event, true)">
      </mat-form-field>
    </div>

    <ng-container *ngIf="showOther && field.options.length && !field.configs.other">
      <span class="or">Or</span> <button mat-button type="button" color="primary" (click)="otherToggle()">
        {{ field.configs.other ? 'Remove' : 'Add' }} "Other" Option</button>
    </ng-container>
  </div>
  <button 
      button 
      mat-icon-button 
      type="button" 
      style="visibility: hidden">
    <mat-icon>delete</mat-icon>
  </button>
</div>

<ng-container *ngIf="showOther && field.configs.other">
  <div class="other">
    <button
        button
        mat-icon-button
        type="button"
        [ngStyle]="{'visibility': 'hidden'}">
      <mat-icon>drag_indicator</mat-icon>
    </button>
    <ng-container [ngTemplateOutlet]="disabledPlaceholder"></ng-container>

    <mat-form-field class="form-field-padless">
      <input
        matInput
        disabled="true"
        name="label"
        value="Other">
    </mat-form-field>

    <button
        mat-icon-button
        type="button"
        (click)="otherToggle()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</ng-container>

<ng-template #disabledPlaceholder>
  <ng-container [ngSwitch]="field.type">
    <mat-checkbox 
      *ngSwitchCase="FieldType.Checkbox" 
      disabled="true">
    </mat-checkbox>
    <mat-radio-button   
      *ngSwitchCase="FieldType.Choice" 
      [disabled]="true">
    </mat-radio-button>
    <mat-radio-button 
      *ngSwitchCase="FieldType.Dropdown" 
      [disabled]="true">
    </mat-radio-button>
  </ng-container>
</ng-template>
