<fs-checkbox-group
    #checkboxes
    [(ngModel)]="field.data.value.selected"
    [name]="'checkboxes' + name"
    [disabled]="disabled"
    (ngModelChange)="changed.emit(field)"
    orientation="vertical"
    [label]="field.label"
    [fsFormFunction]="validate"
    [attr.validation-required]="field.configs.required"
    messageSelector=".fs-form-message">
  <mat-checkbox
      *ngFor="let option of field.options; let index = index"
      [value]="option.guid"
      [disabled]="disabled"
      (change)="checkboxChange($event, notes)">
    {{ option.name }}
    <mat-form-field 
        [floatLabel]="'never'" 
        class="notes"
        [ngClass]="{ show: option.notes && field.data.value.selected.includes(option.guid) }">
      <input
        #notes
        placeholder="Notes"
        matInput
        [(ngModel)]="field.data.value.notes[option.guid]"
        [name]="'notes-' + option.guid">
    </mat-form-field>
  </mat-checkbox>
  <mat-checkbox
      *ngIf="field.configs.other"
      value="other"
      [name]="'checkboxOther' + name"
      [disabled]="disabled"
      class="other checkbox">
    <mat-form-field floatLabel="never" class="subscript-remove">
      <mat-label>Other</mat-label>
      <input
        matInput
        (click)="otherInputClick($event)"
        [(ngModel)]="field.data.value.other"
        (ngModelChange)="changed.emit(field)"
        [name]="'otherInput' + name"
        [disabled]="disabled">
    </mat-form-field>
  </mat-checkbox>
  <mat-hint>{{field.description}}</mat-hint>
</fs-checkbox-group>