.address {
  display: inline-flex;
  flex-wrap: wrap;
  
  span {
    display: inline-flex;

    &:not(:last-child):after {
      content: ", \00a0";
    }
  }
}

.not-specified {
  color: rgb(116, 116, 116);
}