<div
  class="field-container"
  [ngClass]="['field-' + field.type]">
  @switch (field.type) {
    @case (FieldType.Heading) {
      <fs-field-view-heading [field]="field"></fs-field-view-heading>
    }
    @case (FieldType.ShortText) {
      <ng-container *ngTemplateOutlet="text"></ng-container>
    }
    @case (FieldType.LongText) {
      <ng-container *ngTemplateOutlet="text"></ng-container>
    }
    @case (FieldType.Email) {
      <ng-container *ngTemplateOutlet="text"></ng-container>
    }
    @case (FieldType.Content) {
      <fs-html-renderer [html]="field.configs.content"></fs-html-renderer>
    }
    @case (FieldType.RichText) {
      <fs-html-renderer [html]="field.data.value"></fs-html-renderer>
    }
    @case (FieldType.Date) {
      {{ dateLocal | fsDate }}
    }
    @case (FieldType.Birthday) {
      {{ field.data.value | fsDate }}
    }
    @case (FieldType.Time) {
      {{ field.data.value | fsDate: 'time' }}
    }
    @case (FieldType.Phone) {
      {{ field.data.value }}
    }
    @case (FieldType.Name) {
      @if (field.data.value) {
        {{ field.data.value.firstName }} {{ field.data.value.middleName }} {{ field.data.value.lastName }}
      }
    }
    @case (FieldType.File) {
      @if (field.data.files?.length) {
        <fs-field-view-gallery
          [filePreviewDownload]="filePreviewDownload"
          [fileDownload]="fileDownload"
          [field]="field">
        </fs-field-view-gallery>
      }
    }
    @case (FieldType.Gender) {
      <fs-field-view-options [field]="field"></fs-field-view-options>
    }
    @case (FieldType.Address) {
      @if (field.data.value) {
        <div
          class="address">
          @if (field.data?.value.street) {
            <span>
              {{ field.data.value.street }}
            </span>
          }
          @if (field.data?.value.adddress2) {
            <span>
              {{ field.data.value.address2 }}
            </span>
          }
          @if (field.data?.value.city) {
            <span>
              {{ field.data.value.city }}
            </span>
          }
          @if (field.data?.value.region) {
            <span>
              {{ field.data.value.region }}
            </span>
          }
          @if (field.data?.value.zip) {
            <span>
              {{ field.data.value.zip }}
            </span>
          }
          @if (field.data?.value.country) {
            <span>
              {{ field.data.value.country }}
            </span>
          }
        </div>
      }
    }
    @case (FieldType.Choice) {
      <fs-field-view-options [field]="field"></fs-field-view-options>
    }
    @case (FieldType.Dropdown) {
      <fs-field-view-options [field]="field"></fs-field-view-options>
    }
    @case (FieldType.Checkbox) {
      <fs-field-view-options [field]="field"></fs-field-view-options>
    }
    @case (FieldType.VisualSelector) {
      <fs-field-view-options [field]="field"></fs-field-view-options>
    }
  }
  <ng-template #text>
    {{ field.data.value }}
  </ng-template>
</div>