@use '@angular/material' as mat;

.field-container,
.fs-field-option {

  &.cdk-drag-preview {
    background:#fff;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
    opacity: .45;
  }

  &.cdk-drag-placeholder {
    background: #F9F9F9;

    & > * {
      visibility: hidden;
    }

    .option-container {
      visibility: hidden;
    }
  }
}

fs-field-editor,
fs-field-renderer {
  fs-label-field fs-label-message {
    padding-bottom: 1em;
    display: block;
  }

  .field-container {
    width: 100%;
  }

  .field-description {
    padding-bottom: 7px;
    color: rgba(0,0,0,.54);
    font-size: .75em;
  }

  fs-label-field.multiline-message .field-message {
    position: relative !important;
    bottom: unset !important;
    padding-top: 7px;
    display: block;
    color: rgba(0, 0, 0, 0.54);
    white-space: pre-line;
  }
}

.toolbar-field.cdk-drag-preview {
  background: #ccc;
  color: #fff;
  border-radius: 3px;
}

@mixin fs-field-editor($theme) {

  $primary: mat.m2-define-palette($theme);

  fs-field-editor {
    .cdk-drag-placeholder {
      background-color: mat.m2-get-color-from-palette($primary, 500) !important;
      opacity: .2;
    }
  }

  .toolbar-field.cdk-drag-preview {
    background: mat.m2-get-color-from-palette($primary);
    white-space: nowrap;
    height: auto !important;
    width: auto !important;

    .label {
      margin-right: 15px;
    }

    .add {
      display: inline;
    }

    ::ng-deep .mat-button-ripple {
      display: none;
    }
  }

  .toolbar-button {
    color: mat.m2-get-contrast-color-from-palette($primary, 500);
  }
}

.fs-field-toolbar-menu-hidden {
  display: none;
}

