.field-editor-container {
  display: flex;
  padding: 0 4px;
  min-height: 56px;

  &:not(.has-fields) {
    border: 2px dashed #efefef;
    border-radius: 6px;

    ::ng-deep {
      .fields.cdk-drop-list {
        margin: -4px;
        padding: 4px;
      }
    }
  }

  .fields-container {
    display: flex;
    flex-grow: 1;
  }
}

#fs-fields {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.toolbar-container {
  position: relative;
  right: 76px;
  top: 20px;
  z-index: 1;
  
  .toolbar {
    position: fixed;
  }
}


.fields {
  max-width: 100%;
  flex-grow: 1;

  .toolbar-field {
    padding: 10px;
    background: #F7F7F7;
    border-radius: 10px;

    .label {
      display: block;
    }
  }

  &:not(.cdk-drop-list-dragging) {
    ::ng-deep {
      .fs-field:not(.selected):hover {
        background: #f9f9f9;
      }

      .fs-field:hover {
        .field-drag-button {
          visibility: visible;
        }
      }
    }
  }
}

