:host ::ng-deep {

  fs-label-field {
    position: relative;
  }

  [validation-required='true'] .fs-form-label:after {
    content: ' *';
    display: contents;
  }

  .notes {
    &.show {
      margin-top: 15px;
    }

    &:not(.show) {
      display: none;
    }
  }

  .other {
    max-width: 100%;

    ::ng-deep {
      .mdc-label {
        padding-top: 0 !important;
      }
    }
  }

  mat-checkbox {
    margin: 8px 0 !important;
  }
  
  mat-form-field {
    margin-top: 0;
    width: 100%;
    display: block;
  }
}

