.address span:not(:first-child):before {
  content: ", ";
}

.option + .option:before {
  content: ", ";
}

.option + .option:last-child:before {
  content: " and ";
}

.not-specified {
  color: rgb(116, 116, 116);
}

.label-container.tooltip {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-right: 14px;

  mat-icon {
    cursor: pointer;
    transform: scale(0.55);
    position: absolute;
    right: -21px;
    color: #29B7FF;
  }
}