<button 
    mat-mini-fab
    type="button"
    color="primary"
    [matMenuTriggerFor]="menu"
    #trigger="matMenuTrigger"
    class="toolbar-button">
  <mat-icon>add</mat-icon>
</button>

<mat-menu
  #menu="matMenu"
  [backdropClass]="backdropClass"
  [class]="menuClass">
  <ng-container *ngFor="let item of $any(items)">
    <field-nested-toolbar-items
      *ngIf="item.items else simpleItem"
      [item]="item">
    </field-nested-toolbar-items>

    <ng-template #simpleItem>
      <ng-template
        [ngTemplateOutlet]="itemTpl"
        [ngTemplateOutletContext]="{ $implicit: item }">
      </ng-template>
    </ng-template>
  </ng-container>
</mat-menu>


<ng-template let-item #itemTpl>
  <fs-field-toolbar-item
    [menuTrigger]="trigger"
    [item]="item">
  </fs-field-toolbar-item>
</ng-template>
