<ng-container *ngIf="!parentItem; else nestedTrigger">
  <button
      mat-mini-fab
      type="button"
      color="primary"
      [matMenuTriggerFor]="menu"
      #trigger="matMenuTrigger"
      class="toolbar-button">
    <mat-icon>add</mat-icon>
  </button>
</ng-container>

<ng-template #nestedTrigger>
  <button
      mat-menu-item
      type="button"
      [matMenuTriggerFor]="menu"
      (click)="handleMenuItemClick($event)"
      #childTrigger="matMenuTrigger">
    {{ parentItem.label }}
  </button>
</ng-template>

<mat-menu
  #menu="matMenu"
  xPosition="before"
  [backdropClass]="backdropClass"
  [class]="menuClass">
  <ng-container *ngFor="let item of $any(items)">
    <ng-container *ngIf="item.items else simpleItem">
      <fs-field-toolbar
        [parentItem]="item"
        [rootTriggerRef]="triggerRef ? triggerRef : rootTriggerRef"
        (itemClick)="closeChildItems($event)">
      </fs-field-toolbar>
    </ng-container>

    <ng-template #simpleItem>
      <ng-template
        [ngTemplateOutlet]="itemTpl"
        [ngTemplateOutletContext]="{ $implicit: item }">
      </ng-template>
    </ng-template>
  </ng-container>
</mat-menu>


<ng-template let-item #itemTpl>
  <fs-field-toolbar-item
    [menuTrigger]="triggerRef ? triggerRef : rootTriggerRef"
    [item]="item">
  </fs-field-toolbar-item>
</ng-template>
