.toolbar-button {
  z-index: 9;
}

::ng-deep {
  .fs-field-toolbar-menu {
    .mat-menu-item-submenu-trigger {
      padding-left: 56px;

      .mat-menu-submenu-icon {
        left: 25px;
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
}