<button
    *ngIf="!nestedItem; else nestedTrigger"
    mat-mini-fab
    type="button"
    color="primary"
    [matMenuTriggerFor]="menu"
    #trigger="matMenuTrigger"
    class="toolbar-button">
  <mat-icon>add</mat-icon>
</button>

<ng-template #nestedTrigger>
  <button
      mat-menu-item
      type="button"
      [matMenuTriggerFor]="menu"
      (click)="hadleMenuItemClick($event)"
      #subTrigger="matMenuTrigger">
    {{ nestedItem.label }}
  </button>
</ng-template>

<mat-menu
  #menu="matMenu"
  xPosition="before"
  [backdropClass]="backdropClass"
  [class]="menuClass">
  <ng-container *ngFor="let item of $any(items)">
    <fs-field-toolbar
      *ngIf="item.items else simpleItem"
      [nestedItem]="item"
      [rootTriggerRef]="triggerRef ? triggerRef : rootTriggerRef">
    </fs-field-toolbar>

    <ng-template #simpleItem>
      <ng-template
        [ngTemplateOutlet]="itemTpl"
        [ngTemplateOutletContext]="{ $implicit: item }">
      </ng-template>
    </ng-template>
  </ng-container>
</mat-menu>


<ng-template let-item #itemTpl>
  <fs-field-toolbar-item
    [menuTrigger]="triggerRef ? triggerRef : rootTriggerRef"
    [item]="item">
  </fs-field-toolbar-item>
</ng-template>
