

@if (!parentItem) {
  <button
    mat-mini-fab
    type="button"
    color="primary"
    [matMenuTriggerFor]="menu"
    #trigger="matMenuTrigger"
    class="toolbar-button">
    <mat-icon>add</mat-icon>
  </button>
} @else {
  <button
    mat-menu-item
    type="button"
    [matMenuTriggerFor]="menu"
    (click)="handleMenuItemClick($event)"
    #childTrigger="matMenuTrigger">
    {{ parentItem.label }}
  </button>
}


<mat-menu
  #menu="matMenu"
  xPosition="before"
  [backdropClass]="backdropClass"
  [class]="menuClass">
  @for (item of items; track item) {
    @if (item.items) {
      <fs-field-toolbar
        [parentItem]="item"
        [rootTriggerRef]="triggerRef ? triggerRef : rootTriggerRef"
        (itemClick)="closeChildItems($event)">
      </fs-field-toolbar>
    } @else {
      <ng-template
        [ngTemplateOutlet]="itemTpl"
        [ngTemplateOutletContext]="{ $implicit: item }">
      </ng-template>
    }
  }
</mat-menu>


<ng-template let-item #itemTpl>
  <fs-field-toolbar-item
    [menuTrigger]="triggerRef ? triggerRef : rootTriggerRef"
    [item]="item">
  </fs-field-toolbar-item>
</ng-template>
