<div class="options">
  @for (option of field.options; track option; let index = $index) {
    <div
      class="option"
      [class.disabled]="disabled"
      [ngClass]="{ selected: selected[option.guid] }"
      (click)="select(option)">
      <div class="option-container">
        @if (configs.format === VisualSelectorFormat.Image || configs.format === VisualSelectorFormat.ImageName) {
          <div
            class="option-image-container"
            [style.aspectRatio]="configs.previewWidth/configs.previewHeight">
            @if (option.image) {
              <div
                class="option-image"
                [style.backgroundImage]="'url(' + option.image.preview + ')'">
              </div>
            }
            @if (!option.image) {
              <div
                class="option-image-missing">
                <mat-icon>
                  image_not_supported
                </mat-icon>
              </div>
            }
          </div>
        }
        @if (configs.format === VisualSelectorFormat.Name || configs.format === VisualSelectorFormat.ImageName) {
          <div class="option-name">
            {{ option.name }}
          </div>
        }
      </div>
    </div>
  }
</div>