<button
    mat-menu-item
    type="button"
    [matMenuTriggerFor]="matSubMenu"
    #trigger="matMenuTrigger">
  {{ item.label }}
</button>

<mat-menu
  #matSubMenu="matMenu"
  xPosition="before"
  [backdropClass]="backdropClass"
  [class]="menuClass">
  <ng-container *ngFor="let subItem of item.items; let i = index">
    <field-nested-toolbar-items
      *ngIf="subItem?.items; else simpleItem"
      [item]="subItem"
    ></field-nested-toolbar-items>

    <ng-template #simpleItem>
      <ng-template
        [ngTemplateOutlet]="itemTpl"
        [ngTemplateOutletContext]="{ $implicit: subItem }">
      </ng-template>
    </ng-template>
  </ng-container>
</mat-menu>


<ng-template let-subItem #itemTpl>
  <fs-field-toolbar-item
    [menuTrigger]="trigger"
    [item]="subItem">
  </fs-field-toolbar-item>
</ng-template>
