
mat-radio-button {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

fs-label-field {
  position: relative;
}

:host ::ng-deep {
  .fs-label-message {
    font-size: normal;
  }
}

.checkbox-hint {
  white-space: normal;
  line-height: initial;
  color: gray;
}
