<mat-form-field class="form-field-multiline-subscript">
  <mat-label>{{field.label}}</mat-label>
  <mat-select
      [(ngModel)]="field.data.value"
      (ngModelChange)="changed.emit(field)"
      [required]="field.configs.required === true"
      name="{{name}}Dropdown"
      [disabled]="disabled">
    <mat-option 
        *ngFor="let option of field.options" 
        [value]="option.guid">
      {{option.name}}
    </mat-option>
    <mat-option 
        *ngIf="field.configs.other" 
        [value]="OtherOption">
      Other
    </mat-option>
  </mat-select>
  <mat-hint>{{field.description}}</mat-hint>
</mat-form-field>

<!-- 
  <mat-form-field *ngIf="field.data.value === OtherOption" class="other">
  <mat-label>{{field.label}} Other</mat-label>
  <textarea
    matInput
    [required]="field.configs.required === true"
    [cdkTextareaAutosize]="true"
    [(ngModel)]="field.data.other"
    name="{{name}}DropdownOther"
    [disabled]="disabled"
    [ngModelOptions]="{ updateOn: 'blur' }"
    (ngModelChange)="changed.emit(field)">
  </textarea>
</mat-form-field> 
-->
