@if (item.type==='divider') {
  <mat-divider></mat-divider>
} @else {
  <div
      mat-menu-item
      [disabled]="item.disabled">
    <div
        class="toolbar-fields"
        cdkDropList
        [cdkDropListConnectedTo]="fieldEditor.editorId">
      <div
          class="toolbar-field"
          [ngClass]="{ disabled: item.disabled }"
          cdkDrag
          [cdkDragData]="{ field: field, item: item }"
          [cdkDragDisabled]="item.disabled"
          (click)="itemClick(item)"
          (cdkDragStarted)="dragStarted(item)"
          (cdkDragDropped)="dragDropped($event)">
        <div class="fs-row">
          <mat-icon>
            {{ item.icon }}
          </mat-icon>
          <span class="label">
            {{ item.label }}
          </span>
        </div>
      </div>
      @if (dragging) {
        <div class="toolbar-field toolbar-field-clone">
          <div class="fs-row">
            <mat-icon>
              {{ item.icon }}
            </mat-icon>
            <span class="label">
              {{ item.label }}
            </span>
          </div>
        </div>
      }
    </div>
  </div>
}