<ng-container [ngSwitch]="field.type">
  <mat-form-field
      class="form-field-multiline-subscript"
      *ngSwitchCase="fieldType.ShortText">
    <mat-label *ngIf="field.label">
      {{ field.label }}
    </mat-label>
    <input
      matInput
      [(ngModel)]="field.data.value"
      (ngModelChange)="changed.emit(field)"
      [name]="name"
      [disabled]="disabled"
      [required]="field.configs.required===true">
    <mat-hint>
      {{ field.description }}
    </mat-hint>
  </mat-form-field>
  <mat-form-field
      class="form-field-multiline-subscript"
      *ngSwitchCase="fieldType.LongText">
    <mat-label *ngIf="field.label">
      {{ field.label }}
    </mat-label>
    <textarea
      matInput
      [cdkTextareaAutosize]="true"
      [cdkAutosizeMinRows]="1"
      [(ngModel)]="field.data.value"
      (ngModelChange)="changed.emit(field)"
      [name]="name"
      [disabled]="disabled"
      [required]="field.configs.required===true">
    </textarea>
    <mat-hint>
      {{ field.description }}
    </mat-hint>
  </mat-form-field>
  <mat-form-field
      class="form-field-multiline-subscript"
      *ngSwitchCase="fieldType.Date">
    <mat-label *ngIf="field.label">
      {{ field.label }}
    </mat-label>
    <input
      matInput
      fsDatePicker
      [(ngModel)]="field.data.value"
      (ngModelChange)="changed.emit(field)"
      [name]="name"
      [disabled]="disabled"
      [required]="field.configs.required===true">
    <mat-hint>
      {{ field.description }}
    </mat-hint>
  </mat-form-field>
  <mat-form-field
      class="form-field-multiline-subscript"
      *ngSwitchCase="fieldType.Birthday">
    <mat-label *ngIf="field.label">
      {{ field.label }}
    </mat-label>
    <input
      matInput
      fsDatePickerBirthday
      [(ngModel)]="field.data.value"
      (ngModelChange)="changed.emit(field)"
      [name]="name"
      [disabled]="disabled"
      [required]="field.configs.required===true">
    <mat-hint>
      {{ field.description }}
    </mat-hint>
  </mat-form-field>
  <mat-form-field
      class="form-field-multiline-subscript"
      *ngSwitchCase="fieldType.Time">
    <mat-label *ngIf="field.label">
      {{ field.label }}
    </mat-label>
    <input
      matInput
      fsDatePickerTime
      [(ngModel)]="field.data.value"
      (ngModelChange)="changed.emit(field)"
      [name]="name"
      [disabled]="disabled"
      [required]="field.configs.required===true">
    <mat-hint>
      {{ field.description }}
    </mat-hint>
  </mat-form-field>
  <mat-form-field
      class="form-field-multiline-subscript"
      *ngSwitchCase="fieldType.Phone">
    <mat-label *ngIf="field.label">
      {{ field.label }}
    </mat-label>
    <input
      matInput
      fsPhone
      [(ngModel)]="field.data.value"
      (ngModelChange)="changed.emit(field)"
      fsFormPhone
      [name]="name"
      [disabled]="disabled"
      [required]="field.configs.required===true">
    <mat-hint>
      {{ field.description }}
    </mat-hint>
  </mat-form-field>
  <mat-form-field
      class="form-field-multiline-subscript"
      *ngSwitchCase="fieldType.Email">
    <mat-label *ngIf="field.label">
      {{ field.label }}
    </mat-label>
    <input
      matInput
      [fsFormEmail]="true"
      [(ngModel)]="field.data.value"
      (ngModelChange)="changed.emit(field)"
      [name]="name"
      [disabled]="disabled"
      [required]="field.configs.required===true">
    <mat-hint>
      {{ field.description }}
    </mat-hint>
  </mat-form-field>
</ng-container>