<fs-radio-group
    #radiobuttons
    [(ngModel)]="field.data.value.selected"
    (ngModelChange)="radiosChange()"
    [label]="field.label"
    [name]="'choices' + name"
    [fsFormFunction]="validate"
    [attr.validation-required]="this.field.configs.required"
    [disabled]="disabled"
    messageSelector=".fs-form-message"
    orientation="vertical">
  <mat-radio-button
      *ngFor="let option of field.options; let index = index"
      [disabled]="disabled"
      [value]="option.guid"
      (change)="radioChange(notes)">
    {{ option.name }}
    <mat-form-field 
        [ngClass]="{ show: option.notes && field.data.value.selected === option.guid }"
        [floatLabel]="'never'" 
        class="notes">
      <input
        #notes
        placeholder="Notes"
        matInput
        [(ngModel)]="field.data.value.notes[option.guid]"
        [name]="'notes' + index">
    </mat-form-field>
  </mat-radio-button>
  <mat-radio-button
      *ngIf="field.configs.other"
      value="other"
      [name]="'otherChoice' + name"
      [disabled]="disabled"
      class="other choice">
    <mat-form-field floatLabel="never" class="form-field-padless">
      <mat-label>Other</mat-label>
      <input
        matInput
        (click)="otherInputClick()"
        (ngModelChange)="changed.emit(field)"
        [(ngModel)]="field.data.value.other"
        [name]="'otherInput' + name"
        [disabled]="disabled">
    </mat-form-field>
  </mat-radio-button>
  <mat-hint>{{field.description}}</mat-hint>
</fs-radio-group>
